/* Custom shizz */

/* Edlo */
@font-face {
  font-family: 'Edlo';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/edlo.woff2') format('woff2');
}

@font-face {
  font-family: 'GentiumBookBasic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/GentiumBookBasic-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'GentiumBookBasic';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/GentiumBookBasic-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'GentiumBookBasic';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/GentiumBookBasic-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'GentiumBookBasic';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/GentiumBookBasic-BoldItalic.woff2') format('woff2');
}

/* Base styles and content styles */

@import 'variables.css';

:root {
    /* Browser default font-size is 16px, this way 1 rem = 10px */
    font-size: 62.5%;
}

html {
    font-family: "GentiumBookBasic", "Open Sans", sans-serif;
    color: var(--fg);
    background-color: var(--bg);
    text-size-adjust: none;
}

body {
    margin: 0;
    font-size: 2.2rem;
    overflow-x: hidden;
}

pre.output {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */  
    color: var(--bg);
    background-color: var(--fg);
    font-family: Edlo, "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace !important;
    font-size: 0.666em;
    padding: 0.5em;
    margin: 3rem 0;
    border-radius: 4px;
}

code {
    font-family: Edlo, "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace !important;
    font-size: 0.666em;
    margin: 3rem 0;
    border-radius: 4px;
}

.cover-huge {
    font-size: 6rem;
    text-align: center;
}

.cover-medium {
    font-size: 3rem;
    text-align: center;
}

.cover-small {
    margin-top: 4rem;
    font-size: 2rem;
    text-align: center;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

.smallcaps {
  font-variant: small-caps;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.05em;
}

/* The size is too damn high */
h1 { font-size: 1.5em;   }
h2 { font-size: 1.125em; }
h3 { font-size: 0.85em;  }
h4 { font-size: 0.64em;  }

/* Don't change font size in headers. */
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    font-size: unset;
}

.left { float: left; }
.right { float: right; }
.boring { opacity: 0.6; }
.hide-boring .boring { display: none; }
.hidden { display: none !important; }

h2, h3 { margin-top: 2.5em; }
h4, h5 { margin-top: 2em; }

.header + .header h3,
.header + .header h4,
.header + .header h5 {
    margin-top: 1em;
}

h1 a.header:target::before,
h2 a.header:target::before,
h3 a.header:target::before,
h4 a.header:target::before {
    display: inline-block;
    content: "»";
    margin-left: -30px;
    width: 30px;
}

h1 a.header:target,
h2 a.header:target,
h3 a.header:target,
h4 a.header:target {
    scroll-margin-top: calc(var(--menu-bar-height) + 0.5em);
}

.page {
    outline: 0;
    padding: 0 var(--page-padding);
    margin-top: calc(0px - var(--menu-bar-height)); /* Compensate for the #menu-bar-hover-placeholder */
}
.page-wrapper {
    box-sizing: border-box;
}
.js:not(.sidebar-resizing) .page-wrapper {
    transition: margin-left 0.3s ease, transform 0.3s ease; /* Animation: slide away */
}

.content {
    overflow-y: auto;
    padding: 0 15px;
    padding-bottom: 50px;
}
.content main {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content-max-width);
}
.content p { line-height: 1.45em; }
.content ol { line-height: 1.45em; }
.content ul { line-height: 1.45em; }
.content a { text-decoration: none; }
.content a:hover { text-decoration: underline; }
.content img { max-width: 100%; }
.content .header:link,
.content .header:visited {
    color: var(--fg);
}
.content .header:link,
.content .header:visited:hover {
    text-decoration: none;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}
table td {
    padding: 3px 20px;
    border: 1px var(--table-border-color) solid;
}
table thead {
    background: var(--table-header-bg);
}
table thead td {
    font-weight: 700;
    border: none;
}
table thead th {
    padding: 3px 20px;
}
table thead tr {
    border: 1px var(--table-header-bg) solid;
}
/* Alternate background colors for rows */
table tbody tr:nth-child(2n) {
    background: var(--table-alternate-bg);
}


blockquote {
    margin: 20px 0;
    padding: 0 20px;
    color: var(--fg);
    background-color: var(--quote-bg);
    border-top: .1em solid var(--quote-border);
    border-bottom: .1em solid var(--quote-border);
}

sup.footnote-reference {
    vertical-align: unset;
    font-size: .7em;
    position: relative;
    bottom: 0.7em;
    right: 0.3em;
}

:not(.footnote-definition) + .footnote-definition,
.footnote-definition + :not(.footnote-definition) {
    margin-top: 2em;
}
.footnote-definition {
    font-size: 0.8em;
    line-height: 0;
}
.footnote-definition p {
    display: inline;
}

.tooltiptext {
    position: absolute;
    visibility: hidden;
    color: #fff;
    background-color: #333;
    transform: translateX(-50%); /* Center by moving tooltip 50% of its width left */
    left: -8px; /* Half of the width of the icon */
    top: -35px;
    font-size: 0.8em;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    margin: 5px;
    z-index: 1000;
}
.tooltipped .tooltiptext {
    visibility: visible;
}

.chapter {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
}

.chapter li.part-title {
    color: var(--sidebar-fg);
    margin: 5px 0px;
    font-weight: bold;
}
